<docs-style-navigation [menuOptions]="menuOptions" [rootUrl]="rootUrl"/>

<div class="top-gradient"></div>

<div class="page-content">
  <div class="content-title">
    {{ 'macropad.page.title' | translate }}
  </div>
  <div class="image-container">
    <img src="assets/images/todo.png" alt="Macropad project" class="project-picture"/>
  </div>
  <div class="page-content-container">

    <div id="intro" class="docs-section">
      <div class="text-image-section-container-wrapper">
        <div class="text-image-section-container">
          <div class="image-container">
            <img src="./assets/images/todo.png" alt="Macropad quicklook" class="text-section-screen"/>
          </div>
          <div class="text-section">
            <div class="text-container">
              <p>{{ 'macropad.project.description' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="features" class="docs-section">
      <div class="section-title">
        {{ 'macropad.features.title' | translate }}
      </div>
      <macropad-features-section/>
    </div>

    <div id="general-design" class="docs-section">
      <div class="section-title">
        {{ 'macropad.general.design.title' | translate }}
      </div>>
      <macropad-general-design-section/>
    </div>
    <div id="installation" class="docs-section">
      <div class="section-title">
        {{ 'macropad.installation.title' | translate }}
      </div>
      <macropad-installation-section/>
    </div>
    <div id="future-plans" class="docs-section">
      <div class="section-title">
        {{ 'macropad.future.plans.title' | translate }}
      </div>
      <macropad-future-plans-section/>
    </div>
    <div id="repositories" class="docs-section">
      <div class="section-title">
        {{ 'macropad.repositories.title' | translate }}
      </div>
      <macropad-repositories-section/>
    </div>
  </div>
</div>

<simple-footer class="docs-footer"/>

<div class="bottom-gradient"></div>
