#page-body {
  padding: 0;
  background: black;
  height: 100vh;
  overflow: hidden;
}

#clock-container {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#calendar-container {
  padding: 0 3rem 0 0;
}

#ninja-logo-container {
  text-align: end;
  width: 75vw;
}

.ninja-logo {
  background-image: url("/assets/images/ninja-logo.png");
  width: 25%;
  min-width: 6rem;
  height: auto;
}

#quotation-container {
  text-align: center;
  width: 100vw;
  height: 100%;
  align-content: center;
}
