#quotation {
  color: white;
  font-size: 3.5rem;
  justify-content: center;
  display: flex;
}

#author {
  color: darkgrey;
  font-size: 1.5rem;
  justify-content: center;
  display: flex;
  padding-top: 1rem;
}
