<p class="section__text__p1">{{ 'main.page.section.experience.pre.title' | translate }}</p>
<h1 class="title">{{ 'main.page.section.experience.title' | translate }}</h1>
<div class="experience-details-container">
  <div class="about-containers">
    <div class="details-container">
      <h2 class="experience-sub-title">Backend</h2>
      <div class="article-container">
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Java</h3>
            <p>{{ 'experience.level.expert' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Spring</h3>
            <p>{{ 'experience.level.expert' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>SQL</h3>
            <p>{{ 'experience.level.intermediate' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Docker</h3>
            <p>{{ 'experience.level.intermediate' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>ORM</h3>
            <p>{{ 'experience.level.expert' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Kafka</h3>
            <p>{{ 'experience.level.intermediate' | translate }}</p>
          </div>
        </article>
      </div>
    </div>
    <div class="details-container">
      <h2 class="experience-sub-title">Frontend</h2>
      <div class="article-container">
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Angular</h3>
            <p>{{ 'experience.level.intermediate' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Selenium</h3>
            <p>{{ 'experience.level.intermediate' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>JS/TS</h3>
            <p>{{ 'experience.level.basic' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>HTML/CSS</h3>
            <p>{{ 'experience.level.intermediate' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>PrimeNG</h3>
            <p>{{ 'experience.level.intermediate' | translate }}</p>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="about-containers">
    <div class="details-container">
      <h2 class="experience-sub-title">DevOps</h2>
      <div class="article-container">
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Bash</h3>
            <p>{{ 'experience.level.expert' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Python</h3>
            <p>{{ 'experience.level.expert' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Jenkins</h3>
            <p>{{ 'experience.level.intermediate' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Keycloak</h3>
            <p>{{ 'experience.level.intermediate' | translate }}</p>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>HTTPS/SSL</h3>
            <p>{{ 'experience.level.expert' | translate }}</p>
          </div>
        </article>
      </div>
    </div>
    <div class="details-container">
      <h2 class="experience-sub-title">{{ 'others' | translate }}</h2>
      <div class="article-container">
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>{{ 'skill.team.leading' | translate }}</h3>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>{{ 'skill.architecture' | translate }}</h3>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>{{ 'skill.english' | translate }}</h3>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>{{ 'skill.communication' | translate }}</h3>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>{{ 'skill.team.work' | translate }}</h3>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>{{ 'skill.optimization' | translate }}</h3>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Clean Code</h3>
          </div>
        </article>
        <article>
          <img
            src="assets/images/icons/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>{{ 'skill.analytical.skills' | translate }}</h3>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
