/*EXPERIENCE*/
p {
  text-align: start;
}

.section__text__p1 {
  text-align: center;
}

.title {
  padding-bottom: 3rem;
  font-size: 2.5rem;
  text-align: center;
}

.experience-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.about-containers {
  width: 60vw;
  gap: 4rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(163, 163, 163) 0.1rem solid;
  text-align: center;
}

.icon {
  margin-top: 1rem;
  height: 2rem;
}

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 12rem;
  justify-content: flex-start;
  gap: 1rem;
}

article .icon {
  cursor: default;
}

@media screen and (max-width: 1250px) {

  .about-containers {
    display: grid;
    width: 85vw;
  }
}

