<navbar/>

<div class="top-gradient"></div>

<div id="page-content">
  <div id="page-container">

    <div id="profile-intro-section">
      <profile-intro-section/>
    </div>

    <div id="about">
      <about-section/>
    </div>

    <div id="experience">
      <experience-section/>
    </div>

    <div id="projects">
      <projects-section/>
    </div>

    <div id="blog">
      <blog-section/>
    </div>

  </div>
</div>

<footer>
  <div id="contact">
    <contact-section/>
  </div>
  <div id="copyrights">
    <p class="section__text__p1">Copyright © 2024 Damian Kumór. {{ 'main.page.footer.copyrights' | translate }}</p>
  </div>
</footer>
