<p class="section__text__p1">{{ 'main.page.section.about.me.pre.title' | translate }}</p>
<h1 class="title">{{ 'main.page.section.about.me.title' | translate }}</h1>
<div class="section-container">
  <div class="about-details-container">
    <div class="about-containers">
      <div class="details-container">
        <img
          src="./assets/images/icons/experience.png"
          alt="Experience icon"
          class="icon"
        />
        <h3>{{ 'main.page.section.about.me.experience.title' | translate }}</h3>
        <p>{{ 'main.page.section.about.me.experience.subtitle' | translate }}</p>
      </div>
      <div class="details-container">
        <img
          src="./assets/images/icons/education.png"
          alt="Education icon"
          class="icon"
        />
        <h3>{{ 'main.page.section.about.me.education.title' | translate }}</h3>
        <p>{{ 'main.page.section.about.me.education.subtitle' | translate }}</p>
      </div>
    </div>
    <div class="text-container">
      <p>
        {{ 'main.page.section.about.me.description' | translate }}
      </p>
    </div>
  </div>
</div>
