<p class="section__text__p1">{{ 'main.page.section.about.me.pre.title' | translate }}</p>
<h1 class="title">{{ 'main.page.section.about.me.title' | translate }}</h1>
<div class="section-container">
  <div class="about-details-container">
    <div class="article-container">
      <article>
        <img
          src="assets/images/icons/experience-head.png"
          alt="Experience icon"
          class="icon"
        />
        <div>
          <h3>{{ 'about.coding.hours.title' | translate }}</h3>
          <p>{{ 'about.coding.hours.subtitle' | translate }}</p>
        </div>
      </article>
      <article>
        <img
          src="assets/images/icons/coffee.webp"
          alt="Experience icon"
          class="icon"
        />
        <div>
          <h3>{{ 'about.coffee.title' | translate }}</h3>
          <p>{{ 'about.coffee.subtitle' | translate }}</p>
        </div>
      </article>
    </div>
    <div class="text-container">
      <div class="text-subcontainer">
        <p>
          {{ 'main.page.section.about.me.description' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
