/* ABOUT SECTION */
p {
  text-align: center;
  white-space: pre-wrap;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 3rem;
}

.icon {
  margin-top: 1rem;
  height: 3.5rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
}

article {
  display: flex;
  width: 18rem;
  justify-content: start;
  gap: 1rem;
}

.about-details-container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  width: max-content;
  padding: 0.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.text-container {
  width: 50%;
  align-content: center;
  padding: 3.5rem;
  display: flex;
  justify-content: center;
}

.text-subcontainer {
  max-width: 45rem;
}

.about-containers {
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 1250px) {
  .about-details-container {
    width: 100%;
    flex-direction: column;
  }

  .article-container {
    flex-direction: row;
    width: 100%;
    align-items: normal;
    align-content: center;
  }

  .text-container {
    width: 100%;
  }
}
