.details-container {
  padding: 2.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(163, 163, 163) 0.1rem solid;
  text-align: center;
}

.icon {
  margin-top: 1rem;
  height: 3.5rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: auto;
  justify-content: flex-start;
  gap: 1rem;
}

article .icon {
  cursor: default;
}

