<div class="details-container">
  <div class="article-container">
    <article>
      <img
        src="assets/images/macropad/bluetooth.png"
        alt="Bluetooth icon"
        class="icon"
      />
      <div>
        <h3>{{ 'macropad.future.plans.bluetooth.title' | translate }}</h3>
        <p>{{ 'macropad.future.plans.bluetooth.subtitle' | translate }}</p>
      </div>
    </article>
    <article>
      <img
        src="assets/images/macropad/docker.png"
        alt="Docker icon"
        class="icon"
      />
      <div>
        <h3>{{ 'macropad.future.plans.docker.title' | translate }}</h3>
        <p>{{ 'macropad.future.plans.docker.subtitle' | translate }}</p>
      </div>
    </article>
    <article>
      <img
        src="assets/images/macropad/ui-bug.png"
        alt="UI bug icon"
        class="icon"
      />
      <div>
        <h3>{{ 'macropad.future.plans.ui.bugs.title' | translate }}</h3>
        <p>{{ 'macropad.future.plans.ui.bugs.subtitle' | translate }}</p>
      </div>
    </article>
  </div>
</div>
