<div class="details-container">
  <div class="article-container">
    <article>
      <img
        src="assets/images/macropad/bluetooth_128x128.png"
        alt="Bluetooth icon"
        class="icon"
      />
      <div>
        <h3><i class="pi pi-spin pi-spinner" style="margin-right: 5px;"></i>{{ 'macropad.future.plans.bluetooth.title' | translate }}</h3>
        <p>{{ 'macropad.future.plans.bluetooth.subtitle' | translate }}</p>
      </div>
    </article>
    <article>
      <img
        src="assets/images/macropad/docker_128x128.png"
        alt="Docker icon"
        class="icon"
      />
      <div>
        <h3><i class="pi pi-check-circle"></i> <s style="padding-left: 5px;">{{ 'macropad.future.plans.docker.title' | translate }}</s></h3>
        <p>{{ 'macropad.future.plans.docker.subtitle' | translate }}</p>
      </div>
    </article>
    <article>
      <img
        src="assets/images/icons/apple_128x128.png"
        alt="Apple icon"
        class="icon"
      />
      <div>
        <h3><i class="pi pi-spin pi-spinner" style="margin-right: 5px;"></i>{{ 'macropad.future.plans.apple.title' | translate }}</h3>
        <p>{{ 'macropad.future.plans.apple.subtitle' | translate }}</p>
      </div>
    </article>
    <article>
      <img
        src="assets/images/icons/youtube_128x128.png"
        alt="YouTube icon"
        class="icon"
      />
      <div>
        <h3><i class="pi pi-spin pi-spinner" style="margin-right: 5px;"></i>{{ 'macropad.future.plans.youtube.title' | translate }}</h3>
        <p>{{ 'macropad.future.plans.youtube.subtitle' | translate }}</p>
      </div>
    </article>
    <article>
      <img
        src="assets/images/macropad/ui-bug_128x128.png"
        alt="UI bug icon"
        class="icon"
      />
      <div>
        <h3><i class="pi pi-spin pi-spinner" style="margin-right: 5px;"></i>{{ 'macropad.future.plans.ui.bugs.title' | translate }}</h3>
        <p>{{ 'macropad.future.plans.ui.bugs.subtitle' | translate }}</p>
      </div>
    </article>
  </div>
</div>
