<div class="text-image-section-container-wrapper">
  <div class="text-image-section-container">
    <div class="text-section">
      <div class="title-container">
        <p>{{ 'macropad.feature.customizable.title' | translate }}</p>
      </div>
      <div class="text-container">
        <p>{{ 'macropad.feature.customizable.description' | translate }}</p>
      </div>
    </div>
    <div class="image-container">
      <img src="./assets/images/macropad/create-action.gif" alt="Customization feature" class="text-section-screen"/>
    </div>
  </div>
  <div class="text-image-section-container">
    <div class="image-container">
      <img src="./assets/images/macropad/macropad-bidirectional-events.gif" alt="Interactive feature" class="text-section-screen"/>
    </div>
    <div class="text-section">
      <div class="title-container">
        <p>{{ 'macropad.feature.interactive.title' | translate }}</p>
      </div>
      <div class="text-container">
        <p>{{ 'macropad.feature.interactive.description' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="text-image-section-container">
    <div class="text-section">
      <div class="title-container">
        <p>{{ 'macropad.feature.safety.title' | translate }}</p>
      </div>
      <div class="text-container">
        <p>{{ 'macropad.feature.safety.description' | translate }}</p>
      </div>
      <div class="url">
        <button
          class="btn btn-color-2 project-btn"
          onclick="window.open('/projects/macropad/privacy-policy', '_blank')">
          <i class="pi pi-unlock navbar-icon"></i> {{ 'macropad.feature.safety.privacy.policy.button' | translate }}
        </button>
      </div>
    </div>
    <div class="image-container">
      <img src="./assets/images/macropad/lock.gif" alt="Safety lock" class="text-section-screen"/>
    </div>
  </div>
  <div class="text-image-section-container">
    <div class="image-container">
      <img src="./assets/images/macropad/code.gif" alt="Open-source" class="text-section-screen"/>
    </div>
    <div class="text-section">
      <div class="title-container">
        <p>{{ 'macropad.feature.open.source.title' | translate }}</p>
      </div>
      <div class="text-container">
        <p>{{ 'macropad.feature.open.source.description' | translate }}</p>
      </div>
    </div>
  </div>
</div>
