<div class="container">
  <p class="title-container">{{ 'macropad.installation.mobile.android.configuration.title' | translate }}</p>

  <div class="described-config">
    <p class="subsection-title">{{ 'macropad.installation.mobile.android.configuration.menu.title' | translate }}</p>
    <p class="config-desc">{{ 'macropad.installation.mobile.android.configuration.menu.desc' | translate }}</p>

    <div class="image-container">
      <img src="assets/images/macropad/menu-config.gif" alt="Ninja Macropad menu configuration" class="project-picture"/>
    </div>
    <div class="image-container">
      <img src="assets/images/macropad/activities-config.png" alt="Activities corelation with menu identifiers" class="project-picture"/>
    </div>
  </div>

  <div class="described-config">
    <p class="subsection-title">{{ 'macropad.installation.mobile.android.configuration.action.title' | translate }}</p>
    <p class="config-desc">{{ 'macropad.installation.mobile.android.configuration.action.desc' | translate }}</p>

    <div class="image-container">
      <img src="assets/images/macropad/actions-config.gif" alt="Ninja Macropad actions configuration" class="project-picture"/>
    </div>

    <div class="image-container">
      <img src="assets/images/macropad/actions-config.png" alt="Mobile and driver actions corelation" class="project-picture"/>
    </div>
  </div>

  <div class="described-config">
    <p
      class="subsection-title">{{ 'macropad.installation.mobile.android.configuration.connection.url.title' | translate }}</p>
    <p
      class="config-desc">{{ 'macropad.installation.mobile.android.configuration.connection.url.desc' | translate }}</p>

    <div class="code-snippet-container">
      <code-snippet [code]="'http://<host>:<port>/sse/notifications'"/>
    </div>
    <div class="image-container">
      <img src="assets/images/macropad/connection-url-config.png" alt="Ninja Macropad connection URL configuration" class="project-picture"/>
    </div>
  </div>

  <div class="described-config">
    <p
      class="subsection-title">{{ 'macropad.installation.mobile.android.configuration.connection.device.title' | translate }}</p>
    <p
      class="config-desc">{{ 'macropad.installation.mobile.android.configuration.connection.device.desc' | translate }}</p>

    <div class="image-container">
      <img src="assets/images/macropad/device-change.gif" alt="Ninja Macropad target device configuration" class="project-picture"/>
    </div>
  </div>

</div>
