<p class="section__text__p1">{{ 'main.page.section.projects.pre.title' | translate }}</p>
<h1 class="title">{{ 'main.page.section.projects.title' | translate }}</h1>
<div class="projects-container">

  <div class="project-container">
    <div class="image-container">
      <img src="./assets/images/me.jpg" alt="Damian Kumór profile picture" class="project-picture"/>
    </div>
    <div class="title-container">
      Project one
    </div>
    <div class="url">
      <button
        class="btn btn-color-2 project-btn"
        onclick="location.href='https://github.com/'">
        {{ 'project.details.button' | translate }}
      </button>
    </div>
  </div>

  <div class="project-container">
    <div class="image-container">
      <img src="./assets/images/me.jpg" alt="Damian Kumór profile picture" class="project-picture"/>
    </div>
    <div class="title-container">
      Project two
    </div>
    <div class="url">
      <button
        class="btn btn-color-2 project-btn"
        onclick="location.href='https://github.com/'">
        {{ 'project.details.button' | translate }}
      </button>
    </div>
  </div>

  <div class="project-container">
    <div class="image-container">
      <img src="./assets/images/me.jpg" alt="Damian Kumór profile picture" class="project-picture"/>
    </div>
    <div class="title-container">
      Project three
    </div>
    <div class="url">
      <button
        class="btn btn-color-2 project-btn"
        onclick="location.href='https://github.com/'">
        {{ 'project.details.button' | translate }}
      </button>
    </div>
  </div>

</div>
