<div class="page-container">
  <div class="info-container">
    <div class="text-container">
      {{ 'not.found.page.work.in.progress.title' | translate}}
    </div>
    <div class="progressbar-container">
      <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" />
    </div>
    <div class="button-container">
      <button
        class="btn btn-color-2 project-btn"
        onclick="location.href='javascript:history.back()'">
        {{ 'not.found.page.back.button' | translate }}
      </button>
    </div>
  </div>
</div>
