.text-image-section-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-image-section-container {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 4rem;
  width: 80%;
  padding-bottom: 8rem;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  white-space: pre-wrap;
  max-width: 35rem;
}

.title-container {
  font-size: 1.5rem;
}

.text-container {
  max-width: 20rem;
}

@media screen and (max-width: 1250px) {
  .text-image-section-container {
    flex-direction: column;
  }

  .text-section, .image-container {
    width: 100%;
  }
}

.text-section-screen {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  max-width: 45rem;
}
