<div class="text-image-section-container-wrapper">
<!--  todo after creating yt video-->
<!--  <div class="text-image-section-container">-->
<!--    <div class="image-container">-->
<!--      <img src="./assets/images/todo.png" alt="Installation video" class="text-section-screen"/>-->
<!--    </div>-->
<!--    <div class="text-section">-->
<!--      <div class="text-container">-->
<!--        <p>{{ 'macropad.installation.description' | translate }}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="text-image-section-container mobile-reversed">
    <div class="text-section">
      <div class="title-container">
        <p>{{ 'macropad.installation.step.1.title' | translate }}</p>
      </div>
      <div class="text-container">
        <p>{{ 'macropad.installation.step.1.description' | translate }}</p>
      </div>
    </div>
    <div class="image-container">
      <img src="./assets/images/macropad/server.png" alt="Step 1" class="text-section-screen"/>
    </div>
  </div>
  <backend-sse-installation-guide class="installation-guide"/>
  <div class="text-image-section-container">
    <div class="image-container">
      <img src="./assets/images/macropad/client.png" alt="Step 2" class="text-section-screen"/>
    </div>
    <div class="text-section">
      <div class="title-container">
        <p>{{ 'macropad.installation.step.2.title' | translate }}</p>
      </div>
      <div class="text-container">
        <p>{{ 'macropad.installation.step.2.description' | translate }}</p>
      </div>
    </div>
  </div>
  <pc-driver-installation-guide class="installation-guide"/>
  <div class="text-image-section-container mobile-reversed">
    <div class="text-section">
      <div class="title-container">
        <p>{{ 'macropad.installation.step.3.title' | translate }}</p>
      </div>
      <div class="text-container">
        <p>{{ 'macropad.installation.step.3.description' | translate }}</p>
      </div>
    </div>
    <div class="image-container">
      <img src="./assets/images/macropad/phone.png" alt="Step 3" class="text-section-screen"/>
    </div>
  </div>
  <mobile-installation-guide class="installation-guide"/>
</div>
