<div class="title-container">
  {{ 'macropad.installation.backend.swagger.ui.title' | translate }}
</div>

<div class="desc">{{ 'macropad.installation.backend.swagger.ui.description' | translate }}</div>

<p>
  {{ 'macropad.installation.backend.swagger.ui.url.description' | translate }}
</p>

<a href="http://localhost:8080/sse/swagger-ui/index.html" target="_blank">
  http://localhost:8080/sse/swagger-ui/index.html
</a>

<div class="image-container">
  <img src="assets/images/macropad/swagger-ui-macropad.png" alt="Macropad project" class="project-picture"/>
</div>
