.image-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.project-picture {
  max-width: 35rem;
  border-radius: 2rem;
  width: 80vw;
}

.desc {
  text-indent: 0;
  white-space: pre-wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.title-container {
  padding-top: 3rem;
  font-size: 1.5rem;
  text-decoration: underline;
}
