<docs-style-navigation [menuOptions]="menuOptions" [rootUrl]="rootUrl"/>

<div class="top-gradient"></div>

<div class="page-content">
  <div class="content-title">
    {{ 'macropad.privacy.policy.page.title' | translate }}
  </div>
  <div class="page-content-container">
    <h3>{{ 'macropad.privacy.policy.page.last.updated' | translate }}</h3>
    <div id="section-1" class="section">
      <h1 class="section-header">{{ 'macropad.privacy.policy.section.1.title' | translate }}</h1>
      <p class="text">{{ 'macropad.privacy.policy.section.1.desc.1' | translate }}</p>
      <p class="text">{{ 'macropad.privacy.policy.section.1.desc.2' | translate }}</p>
    </div>

    <div id="section-2" class="section">
      <h1 class="section-header">{{ 'macropad.privacy.policy.section.2.title' | translate }}</h1>
      <p class="text">{{ 'macropad.privacy.policy.section.2.desc' | translate }}</p>
      <ul>
        <li>{{ 'macropad.privacy.policy.section.2.point.1' | translate }}</li>
        <li>{{ 'macropad.privacy.policy.section.2.point.2' | translate }}</li>
        <li>{{ 'macropad.privacy.policy.section.2.point.3' | translate }}</li>
      </ul>
    </div>

    <div id="section-3" class="section">
      <h1 class="section-header">{{ 'macropad.privacy.policy.section.3.title' | translate }}</h1>
      <p class="text">{{ 'macropad.privacy.policy.section.3.desc' | translate }}</p>
    </div>

    <div id="section-4" class="section">
      <h1 class="section-header">{{ 'macropad.privacy.policy.section.4.title' | translate }}</h1>
      <p class="text">{{ 'macropad.privacy.policy.section.4.desc' | translate }}</p>
    </div>

    <div id="section-5" class="section">
      <h1 class="section-header">{{ 'macropad.privacy.policy.section.5.title' | translate }}</h1>
      <p class="text">{{ 'macropad.privacy.policy.section.5.desc' | translate }}</p>
    </div>

    <div id="section-6" class="section">
      <h1 class="section-header">{{ 'macropad.privacy.policy.section.6.title' | translate }}</h1>
      <p class="text">{{ 'macropad.privacy.policy.section.6.desc' | translate }}</p>
    </div>

    <div id="section-7" class="section">
      <h1 class="section-header">{{ 'macropad.privacy.policy.section.7.title' | translate }}</h1>
      <p class="text">{{ 'macropad.privacy.policy.section.7.desc' | translate }}</p>
    </div>

    <div id="section-8" class="section">
      <h1 class="section-header">{{ 'macropad.privacy.policy.section.8.title' | translate }}</h1>
      <p class="text">{{ 'macropad.privacy.policy.section.8.desc' | translate }}</p>
    </div>
    <div id="end">
      <p class="text">{{ 'macropad.privacy.policy.end' | translate }}</p>
    </div>
  </div>
</div>

<simple-footer class="docs-footer"/>

<div class="bottom-gradient"></div>
