<div class="page-container">
  <div class="info-container">
    <div class="text-container">
      {{ 'page.under.development.title' | translate }}
    </div>
    <div class="loading-animation-container">
      <under-development-gears-animation/>
    </div>
    <div class="button-container">
      <button
        class="btn btn-color-2 project-btn"
        onclick="location.href='javascript:history.back()'">
        {{ 'page.under.development.back.button.text' | translate }}
      </button>
    </div>
  </div>
</div>
