.page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.text-container {
  text-align: center;
  font-size: 2rem;
}

.info-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 3rem;
  max-width: 30rem;
  height: min-content;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
}


.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  background: none;
}

.btn-color-2:hover {
  cursor: pointer;
  border: darkgrey 0.1rem solid;
  background: whitesmoke;
}

.button-container {
  align-self: center;
}
